# Ignora a pasta node_modules (dependências do Node.js)
node_modules/

# Ignora arquivos de log gerados pela aplicação
*.log

# Ignora arquivos temporários do sistema operacional
.DS_Store
Thumbs.db

# Ignora pastas de cache do npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignora pastas de build (caso sejam geradas)
dist/
build/

# Ignora arquivos de configuração do editor
.vscode/
.idea/